aside {
  margin-top: $global-margin;
}
main,
.region-footer,
.region-help,
.region-breadcrumb,
.region-primary-menu,
.region-highlighted,
.region-secondary-menu {
  @include xy-grid-container;
  margin-top: $global-margin;
  @include xy-grid;
}
.layout-content {
  @include callout();
  //@include padding(1, 2, 1, 2);
  padding: 1rem 2rem;
  @include clearfix;
  margin-top: $global-margin;
  h1 {
    border-bottom: 1px solid $medium-gray;
    margin-bottom: $global-margin;
  }
}

.layout-no-sidebars {
  main {
    @include xy-grid;
    .layout-content {
      @include xy-cell(12);
    }
  }
}
.layout-two-sidebars {
  main {
    @include xy-grid;
    .layout-content {
      @include xy-cell();
    }
    .layout-sidebar-first {
      @include xy-cell();
    }
    .layout-sidebar-second {
      @include xy-cell();
    }
    @include breakpoint(large) {
      .layout-content {
        @include xy-cell(8);
        order: 2;
      }
      .layout-sidebar-first {
        @include xy-cell(2);
        order: 1;
      }
      .layout-sidebar-second {
        @include xy-cell(2);
        order: 3;
      }
    }
  }
}
.layout-sidebar-left {
  main {
    @include xy-grid;
    .layout-content {
      @include xy-cell();
    }
    .layout-sidebar-first {
      @include xy-cell();
    }
    @include breakpoint(large) {
      .layout-content {
        @include xy-cell(9);
        order: 2;
      }
      .layout-sidebar-first {
        @include xy-cell(3);
        order: 1;
      }
    }
  }
}
.layout-sidebar-right {
  main {
    @include xy-grid;
    .layout-content {
      @include xy-cell();
    }
    .layout-sidebar-second {
      @include xy-cell();
    }
    @include breakpoint(large) {
      .layout-content {
        @include xy-cell(9);
        order: 1;
      }
      .layout-sidebar-second {
        @include xy-cell(3);
        order: 2;
      }
    }
  }
}
