/**
 * @file
 * Visual styles for table drag.
 */

tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}
a.tabledrag-handle .handle {
    width: 24px;
    height: 24px;
}
.form-item-draggableviews-0-weight {
    width: 3rem;
  }
