//@format
//site branding
//#block-roblib-2023-site-branding {
.branding {
  display: flex;
  li:first-child {
    border-right: 1px solid $white;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
  }
  .site-logo {
    width: rem-calc(120);
    height: auto;
    @include padding(0, 0, 0, 0);
  }
  .site-name {
    a {
      font-family: $header-font-family;
      font-size: rem-calc(22);
      @include padding(0, 0, 0, 0);
      color: $white;
    }
  }
}
.branding {
  //display: none;
  //@include breakpoint(large) {
  //display: flex;
  //}
}
.title-bar .branding {
  display: flex;
}
.input#edit-submit {
}
.region-header {
  @include top-bar-container;
}
//========
//main menu
//========
.menu--menu-center-navigation,
.menu--main {
  //@include menu-direction(horizontal);
  ul {
    flex-direction: column;
    @include breakpoint(large) {
      flex-direction: row;
    }
  }
  a[title='test'] {
    //display: none;
    @include fa-icon-solid($fa-var-user);
  }
  a {
    color: $white;
    font-family: $roboto-condensed;
    font-size: 0.8em;
    padding: calc($global-padding/2);
  }
  ul.menu a.is-active {
    color: $white;
    .link-text {
      text-decoration: underline;
    }
  }
  .is-active {
  }
  i {
    font-size: rem-calc(28);
  }
}

.search-block-form {
  display: none;
  @include breakpoint(large) {
    display: initial;
  }
}
.search-block-form input {
  margin: 0;
}
.title-bar {
  justify-content: space-between;
}
div#block-views-block-current-library-hours-block-2 {
  display: none;
  @include breakpoint(1200px) {
    display: block;
  }
}
.view-current-library-hours {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #fff;
  background: #ccc;
  float: right;
  font-size: rem-calc(14);
  border-radius: $global-radius;
  a {
    color: #333;
  }
}
.tbm.tbm--mobile {
  margin-right: 0 !important;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  margin-right: 0 !important;
  .tbm-submenu-toggle {
    display: none;
  }
  .tbm-button {
    margin: 0;
  }
  .tbm-link {
    background: #333;
    justify-content: flex-start;
    flex-flow: row;
    span {
      margin: 0 0.5rem;
      width: 40px;
    }
  }
  .tbm-collapse {
    padding-top: 0 !important;
    margin-top: 8px;
  }
}
