    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">{{ content.field_question }}</a>
    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      {{ content.field_answer }}
    </div>

