@import 'modularscale';
$modularscale: (
  base: 1em,
  ratio: 1.5,
);
@import 'settings';
@import 'foundation';
@include foundation-everything;
$fa-font-path: '../icons/fontawesome/webfonts';
@import 'fontawesome';
@import 'solid';
@import 'brands';

@import 'component_import';
//unsorted
.fa-square-x-twitter:before {
    content: "\e61a";
  }
