{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  {#foundation title bar#}

  {#<div class="title-bar" data-responsive-toggle="topbar-desktop" data-hide-for="large">#}
    {#<ul class="branding menu">#}
    {#<li>#}
    {#<a href="/" rel="home" class="site-logo">#}
      {#<img src="/themes/roblib_2023/logo.svg" alt="Home">#}
    {#</a>#}
  {#</li>#}
    {#<li>#}
    {#<span class="site-name">#}
      {#<a href="/" title="Home" rel="home">Robertson<br>Library</a>#}
    {#</span>#}
  {#</li>#}
{#</ul>#}
    {#<button class="menu-icon" type="button" data-toggle="topbar-desktop"></button>#}

  {#</div>#}



  <div id="topbar-desktop" {{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
{% endif %}
