/* File: lgmsmodule/css/lgmsmodule.styles.css */
.lgms_all_guides_search_button_container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.lgms-dashboard-search {
  flex-grow: 1;
  margin-right: 20px;
  width: 100%;
}

.lgms-all_guides-search {
  flex-grow: 1;
  margin-right: 8px;
  width: 75%;
}

.has-lgms-dashboard-search{
  width: 100%;
}

.has-lgms-all-guides-search{
  margin-right: 8px;
  width: 75%;
}

.button {
  margin-right: 0;
}

.guide-box-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.title-edit-wrapper {
  margin-top: 0;
  background-color: #f4f6f8;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons-container {
  position: absolute;
  top: 0;
  right: 0;
}

.edit-icon {
  margin-right: 10px;
}

.re-order-icon {
  margin-right: 10px;
}

.guide-box-body {
  padding: 15px;
  background-color: white;
}

.add-guide-box-link {
  display: block;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.two-column-layout {
  display: flex;
  flex-wrap: wrap;
}
.left-column {
  width: 20.0%;
}
.right-column {
  width: 72.5%;
}

.guide-item {
  margin-top: 10px;
}

.guide-item2 {
  margin-top: 20px;
}

.nav-container {
  background-color: #f3f4ee;
  border: 1px solid #ccc;
  width: 100%;
  margin-top:10px;
}

.tabs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tabs-list li {
  float: left;
}

.tabs-list li a {
  display: block;
  color: black;
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  transition: 0.3s;
}

.tabs-list li a:hover, .tabs-list li a:focus {
  background-color: #ddd;
}

/* Style for the active tab */
.tabs-list li a.active {
  background-color: #ccc;
}

.book-container {
  display: flex;
  padding: 10px
}

.book-cover-picture {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}

.book-cover-picture-container {
  flex: 0 0 100px;
  padding-right: 10px;
}

.book-details {
  flex: 1;
}

.page-item-wrapper {
  display: flex;
  justify-content: space-between;
}
